@font-face {
    font-family: 'Fuggles'; 
    src: url('fonts/Fuggles-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/Roboto-Thin.ttf') format('truetype');
}
/* 
#gameContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
} */

canvas {
    border: 1px solid black;
    background-color: #f4f4f4;
    margin-right: 20px; /* Une petite marge pour que ton image et ton jeu ne se collent pas comme de vieux amis! */
}

#sideImage {
    max-width: 400px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header h1 {
    font-size: 10rem;
    text-align: center;
    font-family: 'Fuggles', sans-serif;
    padding: 0;
    margin: 0;
}

header p {
    font-size: 2rem;
    font-family: 'Fuggles', sans-serif;
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Roboto-Light', sans-serif;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 0;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.images-container img {
    border: 1px gray;
    max-height: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.images-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

footer {
    padding: 30px;
    font-size: 0.9rem;
    text-align: center;
}

@media (max-width: 800px) {
    .images-container img {
        max-height: 200px;
    }
}

#gameMenu {
    display: block;
    outline: 1px dashed deeppink;
}

#game {
    display: block;
}